/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");

/* Reset stylings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cal Sans", Arial, sans-serif;
  height: 100vh;
  background-size: cover;
  color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .home-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  animation: floatUpDown 4s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 20px;
}

.navigation {
  margin: 20px 0;
}

.navigation a {
  color: #9ad1d4;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  color: #ffffff;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
}

.start-btn {
  font-family: "Cal Sans", sans-serif;
  background-color: #174a5a;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 5px 40px;
  border: 2px solid #bccace;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-btn:hover {
  background-color: #131414;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
} */
